body {
    background-size: 700px;
}
@font-face {
			font-family: 'metal lord';

			src: url(metal lord.woff);
		}

h3 {
    font-family: metal lord;
    color: white;
    font-size: 30px;
}

h1 {

    font-family: metal lord;
    color: white;
    font-size: 35px;
}

#p_1{
    color:white !important;
    font-family:sf pro display;
    float:right;
    font-size:11px;
}
#p_1 img{
    width:20px;
    margin-top:5px;
    
}

.piano{
    color:black
}
#song_name{
    font-family: metal lord;
    color:white;
    font-size:22px ;
}
.btn_1{
    background-color:rgba(78, 73, 73, 0.644) ;
    border-radius:10px;
    padding:10px;
    color:white;
    border:none;
    font-family:metal lord;
    font-size:20px;
    margin-left:-1000px;
}
.btn_2{
    background-color:rgba(78, 73, 73, 0.644) ;
    border-radius:10px;
    padding:10px;
    color:white;
    border:none;
    font-family:metal lord;
    font-size:20px;
    margin-right:-1000px;
}
canvas{
    border:5px inset white;
    margin-top:250px;

}
